# ==========================================
# Frontend Configuration
# ==========================================
# URL for client to reach the GraphQL API
VITE_API_URL=http://localhost:3000/graphql

# ==========================================
# Backend Configuration
# ==========================================
# Server port
PORT=3000
